.footer {
    background-color: var(--accent-bg);
    color: #fff;
    min-height: 560px;
    width: 100%;
    height: 100%;
    position: relative;

}

.container {}

.footer-inner {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;

}



.footerlogo-text {


    margin-right: 86px;

}

.item__under-logo {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.number__footer {
    margin-top: 43px;
    margin-bottom: 12px;
}

.street__footer {
    margin-bottom: 12px;
}

.e-mail__footer {
    margin-bottom: 93.36px;
}




.company {
    color: rgb(189, 189, 189);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: left;
}

.footerlogo-text img {

    width: 83.01px;
    height: 58.64px;
    margin-top: 140px;


}

.footer__logo {}

.footer-list1 {
    margin-right: 60px;
}

.footer-list2 {
    margin-right: 60px;
}

.footer-list3 {
    margin-right: 60px;
}



.footer-title {

    display: block;
    text-align: left;
    justify-content: start;
    align-items: start;
    /* Выравнивание текста заголовка по левому краю */
    margin-bottom: 10px;
    /* Отступ под заголовком */
    width: 100%;
    /* Занимает всю ширину своего контейнера */


    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0;
}

.footer-item {}

.footer-itemlist {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
    margin: 0 auto;
    white-space: nowrap;
}

.footer-link {
    color: #fff;
    margin: 0 auto;
    text-decoration: none;



    margin-bottom: 5px;

}

.footer-link:hover {}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;


    flex-basis: 0;
    margin-top: 70px;


}

.footer-title {
    width: 100%;
    /* Занимает всю ширину своего контейнера */
    text-align: left;
    /* Выравнивание текста по левому краю */
}


.footer-title {}


.footer-inner,
.footer-list {
    width: 100%;
}





/* ==================================== */



.contact {
    display: flex;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 1180px;
    height: 270px;
    border-radius: 20px;
    position: absolute;
    justify-content: space-between;
    margin-top: -230px;


}


.contact__input {
    width: 210px;
    height: 50px;
    border-radius: 6px;
    background: rgba(0, 9, 60, 0.1);


    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0%;
    text-align: center;
}

.contact__name {
    width: 440px;
    height: 50px;
    margin-right: 40px;
    margin-top: 40px;


}

.contact__email {
    margin-left: 20px;
    margin-top: 20px;
}

.button__last {
    width: 210px;
    height: 50.04px;

    border-radius: 10px;
    /* orange */
    background: rgb(247, 148, 29);

    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    color: #fff;
    margin-right: 35px;

}

.button__last:hover {
    background-color: #FFAE4D;
    transition: var(--transition);
}

.agreement {
    font-family: Montserrat;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0%;
    text-align: left;
    color: rgb(79, 79, 79);
}

.sova__last-section {
    width: 276.38px;
    height: 311.52px;
    position: relative;
    margin-top: 24px;
    
}

.union__last {
    position: absolute;
    width: 389.11px;
    height: 190px;
    margin-left: 260px;
    margin-top: 40px;

}

.text__inner-last-union {
    position: relative;
    margin-top: 20px;
    font-family: Montserrat;
    font-size: 13px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    margin-right: 60px;
    color: rgb(0, 0, 0);
    z-index: 1;
    margin-top: 63px;
}

.contact__title {
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 30px;
}


.contact__inner {}

.contact__inner::before {}

.contact__inner::after {}

.contact__img img {}

.contact__body {
    display: flex;
    flex-direction: column;
}

.contact__title {}

.contact__text {}

.contact__label {}

.contact__input {}

.contact__input:hover {}

.contact__input::placeholder {}

.contact__input:hover::placeholder {}

.contact__check-label {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.contact {
    position: relative;

    border-radius: 6px;
    background: #fff;
    box-shadow: 
        0 0 15px 1px hsla(33, 93%, 54%, 0.3), /* Оранжевый цвет с размытием */
        0 0 15px 1px rgba(39, 169, 225, 0.3) inset; /* Синий цвет с размытием */

}

.contact::before {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 6px; /* Увеличиваем радиус, чтобы градиент был за пределами элемента */
    background: linear-gradient(90deg, hsla(33, 93%, 54%, 0.3), rgba(39, 169, 225, 0.3) 80%);
    z-index: -1; /* Помещаем градиент за элемент */
    filter: blur(16px);
    opacity: 0.3;
}