:root {
    --general-text: #000000;
    --accent-text: #FFFFFF;
    --general-bg: #F6F7F9;
    --accent-bg: #00093C;
    --accent-color: #F7941D;
    --accent-color-2: #00093C;
    /* --input-color: #AC907A;
    --transition: all .4s;
    --border-radius: 20px; */
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}



.body {
    font-family: "Montserrat";
}




.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}



.main {
    flex-grow: 1;
}