.header {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    background: var(--general-bg);
}


.header__top-inner{
    min-height: 128px;

}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Это свойство выравнивает все элементы по центру по вертикали */
    position: relative;
    padding: 0 20px;
    /* Убедитесь, что контент не прилипает к краям */
}

.header__logo {
    width: 100px;
    height: 70.65px;
    left: 370px;
    right: 1450px;
    top: 20px;
    bottom: 19.35px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 63px;
    /* Отступ от логотипа */
}

.nav__list,
.nav__list-right {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    /* Позволяет списку расти и заполнять доступное пространство */
}

.nav__list-right {
    justify-content: flex-end;
    /* Выравнивание элементов списка по правому краю */
}

.burger {
    margin-right: 0px;
    /* Отступ для бургера, если он не первый элемент в списке */
}

.nav__item:not(:last-child) {
    margin-right: 40px;
}

.nav__item:first-child {
    margin-right: 0;
}



.button__list-right{
    margin-right: 9px;
}


.burger__right{
    margin-left: 10px;
    margin-right: 40px;
}


.right__logo-entrance {
    position: absolute;
    top: 50%;
    right: 1; /* Расстояние от правого края .nav__list-right */
    transform: translateY(-50%);
}