body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

.block {
    padding: 30px;
    margin: 50px;
}

/* ====================================================== */

.block {
    display: inline-block;
    width: 400px;
}

.inline {
    display: none
    /* box-shadow: 30px 30px 60px black; real work*/ 
}

.img {
    display: block;
}