@font-face {
    font-family: 'Butterfly Kids';
    src: local('Butterfly Kids Regular'), local('ButterflyKids-Regular'),
        url('../fonts/ButterflyKids-Regular.woff2') format('woff2'),
        url('../fonts/ButterflyKids-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.text{
    font-family: 'Butterfly kids';
}