:root {
    --accent-color: #d8382c;
    --indent: 2vw;
    --bd-radius: 2vw;
}

body {
    background: #202022;
    color: #fff;
    padding: var(--indent);
    font-family: sans-serif;
}

.section {
    --add-fz: 20px;

    max-width: 50vw;
    margin: 0 auto;
    background: #444245;
    padding: var(--indent);
    border-radius: var(--bd-radius);
    text-align: center;
    overflow: hidden;
    border: 5px solid var(--accent-color);
}

.title {
    font-size: 30px;
    margin-bottom: 1.8vw;
    background: var(--accent-color);
    padding: 2vw;
    margin: -2vw -2vw 2vw;
}

.text {
    margin-bottom: 2vw;
    font-size: var(--add-fz);
}

.button {
    --accent-color: #54b4da;

    font-size: var(--add-fz);
    padding: 1.5vw;
    background: var(--accent-color);
    border-radius: calc(var(--bd-radius) - 10px);
    text-align: center;
    max-width: 20vw;
    margin: 0 auto;
    text-transform: uppercase;
}