body {
    background-color: #1a1a1c;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #3b3a3d;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7de07d;
    font-size: 30px;
}

.box span {
    opacity: 0;
}

.box__scale {
    position: absolute;
    top: -100px;
    left: -300px;
    right: 600px;
    height: 30px;
    background: #fff;
}

.box:hover .box__scale {
    right: -300px;
}

.box:hover span {
    opacity: 1;
}

/* ================== Выполнение дз ниже =================== */


.box {
    opacity: 1;
    transition: all 3s;
}


/* .box:hover{
    transition: all 10s;
    transition:  2s ;
    transition: all .5s;
} */
.fade-in {
    
    transition:  all 1s ;
    transition-duration: 2s;
    transition-delay: 2s;
    
}
.box__scale{
    transition: all 2s;
    /* transition-duration: 2s;
    transition-delay: 2s; */
}

