body {
    font-size: 40px;
}

* {
    box-sizing: border-box;
}

.block,
.inline {
    background: #e0d5c5;
}

.block {
    padding: 30px;
    margin: 50px;
}

/* ====================================================== */

.block {
    /* opacity: 1;
    visibility: hidden; */

    width: 400px;
    height: 400px;
    overflow: auto;
}

.inline {
    opacity: .5;
    
}

.img {
    opacity: .5;
}