body {
    background: #181E34;
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px; */
    /* font-weight: 400; */
    line-height: 150%;
    color: #fff;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.header {
    padding: 30px 0 36px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-left: auto;
}

.header-list {
    display: flex;
}

.header-item {
    margin-right: 30px;
}

.header-button {
    color: #2766AE;
    background: #FFFFFF;
    border-radius: 100px;
    padding: 14px 30px;
    font-weight: 500;
}

.hero {
    padding: 120px 0;
    background: url("../img/hero-bg.jpg") 10% 50% / cover no-repeat;
}

.hero-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    max-width: 436px;
}

.hero-text span {
    text-transform: uppercase;
    color: rgb(1, 162, 203);
    font-weight: 700;
}

.paragraph {
    margin-bottom: 15px;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 320px;
}

.hero-button-one,
.hero-button-two {
    border-radius: 100px;
    padding: 18px 30px;
    display: flex;
    justify-content: center;
}

.hero-button-one img,
.hero-button-two img {
    margin-left: 4px;
}

.hero-button-one {
    border-radius: 100px;
    background: linear-gradient(180.00deg, rgb(0, 164, 204), rgb(39, 102, 174) 100%);



}

.hero-button-two {
    border-radius: 100px;
    background: linear-gradient(129.14deg, rgb(0, 164, 204) 5.913%, rgb(39, 102, 174) 91.534%);
}


.margin-bottom {
    margin-bottom: 10px;
}

.cards {
    padding: 120px 0;
}

.cards-title {
    font-weight: 600;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.cards-text {
    text-align: center;
    max-width: 513px;
    margin: 0 auto 60px;
}

.cards-flex {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -14px;
    margin-bottom: -28px;
    padding-bottom: 30px;
}

.cards-flex-item {
    margin-bottom: 28px;
    padding: 0 14px;
    flex: 0 0 25%;
}

.cards-flex-inner {
    background: #197CB8;
    border: 2px solid #176BAE;
    box-shadow: 4px 4px 13px rgba(5, 13, 41, 0.76);
    border-radius: 16px;
    padding: 28px 15px;
}

.cards-flex-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.cards-flex-text {
    text-align: center;
}

.cards-button {
    display: block;
    border-radius: 100px;
    padding: 18px 30px;
    background: linear-gradient(180deg, #00A4CC 0%, #2766AE 100%);
    text-align: center;
    max-width: 436px;
    margin: 0 auto;
}


.footer {
    border-top: 1px solid #323952;
    padding: 60px 0;
}

.footer-inner {
    display: flex;
}

.footerlogo-text {
    max-width: 267px;
    margin-right: auto;
}

.footerlogo-text a {
    display: inline-block;
    margin-bottom: 15px;
}

.footerlist {
    max-width: 204px;
    width: 100%;
}

.footer-list {
    margin-right: 28px;
}

.footer-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer-itemlist {
    margin-bottom: 10px;
}