body {
    /* background: #181E34; */
    font-family: "Montserrat", "Arial", sans-serif;
    /* font-size: 16px; */
    /* font-weight: 400; */
    line-height: 125%;
    color: #25282B;
    background: #f8fcff;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

/* ========================================== */


.header {
    line-height: 1.5;
}

.header__inner {
    min-height: 108px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    gap: 15px;
    align-content: center;
    align-items: center;
}

.header__logo {
    max-width: 54px;

}

.header__socials {
    justify-self: end;
}

.nav {}

.nav__list {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.nav__item {}

.nav__link {}

.socials {
    display: flex;
    gap: 10px 30px;
    flex-wrap: wrap;
}

.socials__items {}

.socials__link {}



/* ========================================== */



.main {}

.hero {
    padding: 120px 0;
    color: #fff;
    /* background: gray; */
    line-height: 1.5;
    position: relative;
}


.hero__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    font-size: 52px;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 30px;

}

.hero__list {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
}

.hero__item-item {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-bottom: 15px;
    transition: all .5s;
}



.hero__item-item:last-child {
    margin-bottom: 0px;
}

.hero__item-item path {
    transition: all .5s;
}

.hero__item-item:hover {
    color: #1D6FB6;

}

.hero__item-item:hover path {
    fill: #1D6FB6;
}

.hero__video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.hero__video video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__video::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #102e49cc
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1D6FB6;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;



    height: 56px;
    width: 100%;
    max-width: 288px;
    background: #D0DCE7;
    border-radius: 100px;
}


.button:hover {
    color: #F8FCFF;
    background: #83ADD3;
    transition: all .5s;
}


/* ===================================== */
.main__general {
    padding: 120px 0;
}

.main__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 30px;
}

.main__sidebar {
    position: sticky;
    top: 5vh;
}

.main__body {
    max-width: 792px;
    width: 100%;
}

.main__gallery {
    margin-bottom: 120px;
}

.sidebar {
    font-weight: 500;
    border: 2px solid #D0DCE7;
    padding: 30px;
    max-width: 282px;
    width: 100%;
    min-height: 60vh;
}

.sidebar__item {
    margin-bottom: 20px;
}

.sidebar__item:last-child {
    margin-bottom: 0;
}

/* ================================================ */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    gap: 24px;
    font-weight: 500;
    color: var(--white-text);
}

.gallery__img {
    display: block;
    position: relative;
    overflow: hidden;
    padding-bottom: 100%;
}

.gallery__img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.gallery__img--large-left {
    grid-column: 1/3;
    grid-row: span 2;
}

.gallery__img--large-right {
    grid-column: -1/-3;
    grid-row: span 2;
}

.gallery__hint {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background: #1D6FB6B2;
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;

    transform: translateY(100%);
    opacity: 0;
    transition: all .5s;
}

.gallery__img:hover .gallery__hint {
    transform: translateY(0%);
    opacity: 1;
}

.gallery__img--large-left .gallery__hint,
.gallery__img--large-right .gallery__hint {
    height: 103px;
    font-size: 24px;
    line-height: 29px;
}

/* =====================================================*/

.products {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.products__item-img {
    position: relative;
    padding-bottom: 62%;
}

.products__item-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.products__item-badge {
    position: absolute;
    top: 12.6%;
    left: 0;
    background: var(--white-text);
    border-radius: 0px 100px 100px 0px;
    padding: 18px 15px;
    min-width: 33.9%;
    text-align: center;
    font-weight: 500;
    color: var(--accent-text);

    animation: badge-action 2s infinite alternate;
}

@keyframes badge-action {
    0% {
        min-width: 33.9%;
    }

    66.666% {
        min-width: 33.9%;
    }

    100% {
        min-width: 37.3%;
    }
}

.products__item-body {
    border: 1px solid #D0DCE7;
    border-top: none;
    padding: 30px 15px;
}

.products__item-button {
    margin: 0 auto;
}

/* ======================================================== */

.footer {
    padding: 30px 0;
    color: var(--white-text);
    background: #788088;
    text-align: center;
}

.footer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}