* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 200vh;
}

.body--fixed {
    /* overflow-y: hidden; */
}


.btn-open {
    width: 300px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.modal {
    position: fixed;
    inset: 0;
    z-index: 2;
    align-items: center;
    justify-content: center;
    background: #000000c1;
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
    
}


.modal--open {
    display: flex;
    opacity: 1;
    visibility: visible;
}



.modal__window {
    /* position: relative; */
    width: 50vh;
    min-height: 40vh;
    padding: 50px 20px 20px 20px;
    background-color: #fff;
    border-radius: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.button {}

.modal__close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    font-weight: 700;
    background: none;
    border: none;
    cursor: pointer;

}