body {
    background-color: #1b1b1d;
    color: #fff;
    font-family: sans-serif;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.grid {
    margin-bottom: 200px;
    padding-bottom: 200px;
    border-bottom: 10px solid #363636;
    min-height: 100vh;
}

.item {
    border: 5px dashed #555;
    font-size: 40px;
    padding: .8em;
    text-align: center;
}

/* ======================================================== */

.container{
    display: inline-grid;
}