@import "fonts.css";
@import "reset.css";
@import "global.css";

@import "header.css";
@import "footer.css";

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-rows: repeat(2, auto);
    gap: 40px 53px;
}

.about__img {
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    grid-row: 1/-1;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-conrol {
    position: absolute;
    bottom: 4.7%;
    left: 5%;
    display: flex;
    align-items: center;
    gap: 10px;
    max-width: 300px;
    text-align: left;
    background: #957b97e6;
    border-radius: var(--border-radius);
    padding: 15px 20px;
    color: var(--general-bg);
}

.about__img-button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background: var(--general-bg);
    position: relative;
}

.about__img-button::before {
    content: '';
    position: absolute;
    inset: 5px;
    border-radius: 50%;
    border: 1px solid var(--accent-color-2);

    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::before {
    opacity: 1;
}

.about__heading {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 29px 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.about__grid-img {
    border: 1px solid var(--general-text);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ========================================================= */

.program__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title {
    margin-bottom: 20px;
}

.program__tab-content {
    margin-bottom: 40px;
}

.program__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    gap: 40px;
    max-width: 501px;
    width: 100%;
    flex-shrink: 0;
}

.program__discount {
    font-size: 20px;
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 40px;
    grid-row: 1 / 3;
}

.program__discount-value {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: .82;
    color: var(--accent-color);
    transform-origin: 0 0;
    margin: 0 0 7px 13%;

    animation: discount-grow .8s linear infinite alternate;
}

@keyframes discount-grow {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translateX(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__discount span {
    font-size: 16px;
    margin-left: 35%;
}

.program__price-text {
    line-height: 1.6;
    text-transform: uppercase;
    color: var(--accent-color-2);
    margin-bottom: 5px;
}

.program__price-value {
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
}

.program__price-value--big {
    font-size: 50px;
    color: var(--accent-text);
}

.program__button {
    grid-column: 1/-1;
}

.program__img img {
    width: 100%;
}

.tab-conrols {
    display: flex;
    gap: 26px;
}

.tab-conrols__link {
    display: block;
    border-radius: 100px;
    padding: 14px 30px;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0.3);
    white-space: nowrap;

    transition: var(--transition);
}

.tab-conrols__link:hover {
    background: #FFE0CB;
}

.tab-conrols__link--active {
    background: #FFE0CB;
    box-shadow: 0px 4px 20px rgba(206, 195, 185, 0);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.accordion-list__item {
    border: 1px solid var(--accent-color);
    border-radius: var(--border-radius);

    margin-bottom: 30px;
}

.accordion-list__item:last-child {
    margin-bottom: 0;
}

.accordion-list__control {
    padding: 41px 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    display: flex;
    justify-content: space-between;
    gap: 15px;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 90%;
    color: var(--accent-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control-icon {
    width: 36px;
    height: 36px;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--transition);
}

.accordion-list__control-icon svg {
    margin-left: 2px;
}

.accordion-list__control-icon path {
    transition: var(--transition);
}

.accordion-list__control:hover .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__control:hover .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__item--opened .accordion-list__control-icon {
    transform: rotate(90deg);
    background: var(--accent-color);
}

.accordion-list__item--opened .accordion-list__control-icon path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-content {
    padding: 0 30px 40px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__title {
    text-transform: uppercase;
    line-height: 1.6;
    color: var(--accent-color-2);
    margin-bottom: 20px;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
}

.accordion-content__item:last-child {
    margin-bottom: 0;
}

.accordion-content__icon {
    width: 24px;
    height: 24px;
    border: 1px solid var(--accent-color-2);
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    flex-shrink: 0;
}

.accordion-content__text {
    max-width: 274px;
}

/* ================================================ */

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
    align-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 30px 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__nav {
    display: flex;
    align-items: center;
    gap: 98px;
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: .9;
    position: relative;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.swiper-button-disabled.gallery__prev,
.swiper-button-disabled.gallery__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.gallery__prev path,
.swiper-button-disabled.gallery__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.gallery__prev:hover,
.swiper-button-disabled.gallery__next:hover {
    background: transparent;
}

.swiper-button-disabled.gallery__prev:hover path,
.swiper-button-disabled.gallery__next:hover path {
    fill: #E1D9E1;
}

.gallery__prev path,
.gallery__next path {
    transition: var(--transition);
}

.gallery__prev:hover,
.gallery__next:hover {
    background: var(--accent-color);
}

.gallery__prev:hover path,
.gallery__next:hover path {
    fill: var(--general-bg);
}

.gallery__pagination {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.gallery__slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/* ================================================ */

.testimonials__inner {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: 40px;
    gap: 30px;
}

.testimonials__info {
    max-width: 632px;
}

.testimonials__title {
    margin-bottom: 20px;
}

.testimonials__nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

.testimonials__prev,
.testimonials__next {
    background: transparent;
    cursor: pointer;
    border: 1.5px solid var(--accent-color);
    border-radius: 50%;
    flex-shrink: 0;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--transition);
}

.swiper-button-disabled.testimonials__prev,
.swiper-button-disabled.testimonials__next {
    border: 1.5px solid #E1D9E1;
    cursor: auto;
}

.swiper-button-disabled.testimonials__prev path,
.swiper-button-disabled.testimonials__next path {
    fill: #E1D9E1;
}

.swiper-button-disabled.testimonials__prev:hover,
.swiper-button-disabled.testimonials__next:hover {
    background: transparent;
}

.swiper-button-disabled.testimonials__prev:hover path,
.swiper-button-disabled.testimonials__next:hover path {
    fill: #E1D9E1;
}

.testimonials__prev path,
.testimonials__next path {
    transition: var(--transition);
}

.testimonials__prev:hover,
.testimonials__next:hover {
    background: var(--accent-color);
}

.testimonials__prev:hover path,
.testimonials__next:hover path {
    fill: var(--general-bg);
}

.testimonials__slider {
    overflow: visible;
}

.testimonials__wrapper {
    margin-bottom: 40px;
}

.testimonials__slide {
    background: var(--accent-bg);
    border-radius: var(--border-radius);
    padding: 30px 30px 40px;
    display: flex;
    gap: 30px;
    transition: var(--transition);
    opacity: 0;
    height: auto;
}

.swiper-slide-prev.testimonials__slide,
.swiper-slide-next.testimonials__slide {
    opacity: 0.5;
}

.testimonials__slide.swiper-slide {
    transform: scale(.9);
}

.swiper-slide-active.testimonials__slide {
    transform: scale(1);
    opacity: 1;
}

.testimonials__student {
    max-width: 165px;
    width: 100%;
    flex-shrink: 0;
    text-align: center;
}

.testimonials__student-img {
    border-radius: var(--border-radius);
    overflow: hidden;
    margin-bottom: 20px;
}

.testimonials__student-img img {
    width: 100%;
}

.testimonials__student-name {
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.6;
    color: var(--accent-text);
}

.testimonials__student-inst {
    margin: 0 auto;
    color: var(--accent-color-2);
}

.testimonials__quote span {
    display: block;
    font-family: 'Gabriola';
    font-size: 32px;
    line-height: .9;
    color: var(--accent-text);
    margin-bottom: 10px;
}

.testimonials__scrollbar {
    background: var(--accent-bg);
}

.testimonials__scrollbar.swiper-scrollbar {
    position: static;
    width: 100%;
    height: 7px;
}

.testimonials__scrollbar .swiper-scrollbar-drag {
    background: var(--accent-color);
}

/* ================================================ */

.contact {
    padding: 140px 0;
    background: url("../img/decor/bg-contact.png") 50% 0% / cover no-repeat;
}

.contact__inner {
    display: flex;
    align-items: end;
    gap: 84px;
    position: relative;
}

.contact__inner::before {
    content: url("../img/decor/berries.png");
    position: absolute;
    top: -4%;
    left: 0;
}

.contact__inner::after {
    content: url("../img/decor/berries-2.png");
    position: absolute;
    top: 4%;
    right: 0;
}

.contact__img img {
    width: 100%;
    filter: drop-shadow(0px 4px 30px #c6b0a14d);
}

.contact__body {
    max-width: 420px;
}

.contact__title {
    margin-bottom: 20px;
}

.contact__text {
    margin-bottom: 40px;
}

.contact__label {
    margin-bottom: 10px;
}

.contact__input {
    display: block;
    width: 100%;
    background: #00000000;
    border: 1px solid var(--input-color);
    border-radius: 100px;
    padding: 19px 42px 19px 28px;
    font-size: 16px;
    transition: var(--transition);
    margin-bottom: 20px;
}

.contact__input:hover {
    border-color: var(--accent-color);
}

.contact__input::placeholder {
    color: var(--input-color);
    transition: var(--transition);
}

.contact__input:hover::placeholder {
    color: var(--accent-color);
}

.contact__check-label {
    display: flex;
    align-items: start;
    gap: 5px;
    max-width: 288px;
    font-size: 13px;
    margin-bottom: 20px;
}

.contact__check-label a {
    text-decoration: underline;
    transition: var(--transition);
}

.contact__check-label a:hover {
    color: var(--accent-color);
}

.contact__checkbox {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 1.5px solid var(--input-color);
    transition: var(--transition);
    border-radius: 4px;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
}

.contact__checkbox::before {
    content: '';
    position: absolute;
    inset: 0;
    background: url("../img/icons/check.svg") 50% 50% no-repeat;
    opacity: 0;
    transition: var(--transition);
}

.contact__checkbox:hover {
    border: 1.5px solid var(--accent-color);
}

.contact__checkbox:checked {
    background: var(--accent-color);
    border: 1.5px solid var(--accent-color);
}

.contact__checkbox:checked::before {
    opacity: 1;
}




/* ================================================ */
/* ================================================ */
/* ================================================ */
/* ================================================ */


@media (max-width: 1200px) {
    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-conrol {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ----------- */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }

    .tab-conrols {
        flex-wrap: wrap;
    }

    /* ----------- */

    .contact__inner::after {
        top: -20%;
    }

    /* ----------- */

    .footer__inner {
        justify-content: space-between;
        grid-template: repeat(2, auto) / repeat(3, auto);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }
}

@media (max-width: 1100px) {
    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    /* -------------- */

    .accordion-list__control {
        padding: 25px 30px;
        font-size: 35px;
    }

    .accordion-content {
        gap: 30px;
    }

    /* --------------------- */

    .contact__inner {
        align-items: center;
        gap: 30px;
    }
}

@media (max-width: 900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ----------- */

    .program__action {
        max-width: none;
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
    }

    .program__img {
        display: none;
    }

    /* ----------- */

    .gallery__inner {
        grid-template: none;
    }

    .gallery__info {
        max-width: none;
    }

    .gallery__img {
        display: none;
    }

    /* ----------- */

    .testimonials__scrollbar.swiper-scrollbar {
        width: 50%;
        margin: 0 auto;
    }

    /* ----------- */

    .contact__inner {
        justify-content: center;
    }

    .contact__img {
        display: none;
    }

    /* ----------- */

    .footer__inner {
        justify-content: center;
        grid-template: none;
        text-align: center;
        gap: 0;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .footer__col:nth-child(2) {
        margin-bottom: 40px;
    }

    .footer__col:nth-child(3) {
        margin-bottom: 10px;
    }
}

@media (max-width: 800px) {

    html {
        scroll-padding-top: 50px;
    }

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-conrol--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ---------------- */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ---------------- */

    .tab-conrols {
        gap: 10px;
    }

    .tab-conrols__link {
        padding: 6px 20px;
    }

    .accordion-content {
        flex-direction: column;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

    /* ------------- */

    .testimonials__inner {
        align-items: stretch;
        flex-direction: column;
    }

    .testimonials__nav {
        align-self: end;
    }

    /* ------------ */

    .contact__inner::before {
        content: none;
    }

}

@media (max-width: 600px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program,
    .main__gallery,
    .main__testimonials {
        padding: 0 0 80px;
    }

    .title {
        font-size: 12vw;
    }

    /* -------------------- */

    .header__hero {
        padding-bottom: 80px;
    }

    /* -------------------- */

    .about__img-conrol {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 10px 15px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ---------------- */

    .program__title {
        text-align: center;
    }

    .program__top {
        text-align: center;
        margin-bottom: 20px;
    }

    .program__action {
        grid-template: repeat(3, auto) / auto auto;
        gap: 15px;
    }

    .program__discount {
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }

    .tab-conrols {
        justify-content: center;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 17px 30px;
        font-size: 28px;
    }

    .accordion-list__control-icon {
        width: 26px;
        height: 26px;
    }

    .accordion-list__control-icon svg {
        width: 10px;
    }

    /* ---------------------- */

    .gallery__content {
        flex-direction: column;
    }

    .gallery__inner {
        margin-bottom: 20px;
    }

    /* ---------------------- */

    .testimonials__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /* ---------------------- */

    .contact {
        padding-bottom: 80px;
    }

    .contact__title,
    .contact__text {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .modal__img {
        width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0 15px 45px;
    }

    /* ----------------- */

    .program__action {
        grid-template: none;
    }

    .program__price {
        text-align: center;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }

    /* -------------- */

    .testimonials__slide {
        padding: 30px 10px 30px;
    }
}